{% extends 'base.html' %}

{% block title %}
<title>Edit</title>
{% endblock %}

{% block content%}
<h1>Edit Post</h1>
    <hr>
    <h1>Edit Blog Post:</h1>
    <form action="/posts/edit/{{ post.id }}" method="POST">
        <label for="title">Title:</label>
        <input class="form-control" type="text" name="title" id="title" value="{{ post.title }}" aria-label="Enter Title"/>
        <br>
        <label for="author">Author:</label>
        <input class="form-control" type="text" name="author" id="author" value="{{ post.author }}" aria-label="Enter Author Name"/>
        <br>
        <label for="content">Post:</label>
        <textarea class="form-control" name="content" id="content" aria-label="Type your content here"rows="3">{{ post.content }}</textarea>
        <br>
        <input  class="btn btn-info" type="submit" value="Save">
    </form>
    <hr>
{% endblock %}