{% extends 'base.html' %}

{% block title %}
<title>Index Page</title>
{% endblock %}

{% block content%}
    <br>
    <h1>Home Page</h1>
    <br>
    <main role="main">
        <div>
            <div class="bg-light p-5 rounded">
            <div class="col-sm-8 mx-auto">
                <h1>Welcome</h1>
                <p>Welcome to Data science Blogs! created by Harsha. In this website you can explore blogs related to Data Science,Python and AI you can also create your own blogs on the above topics. </p>
                <p>Follow me on linkdin <a href="https://www.linkedin.com/in/kudumu-harshavardhan-reddy-aa645a193/">Linkdin.com</a></p>
                <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to  Posts &raquo;</a>
                </p>
            </div>
            </div>
        </div>
    </main>
{% endblock %}